@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(#5C4BC5, #5C4BC5);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(#5C4BC5, #5C4BC5);
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

